.nav {
  background-color: var(--kakao-gray);
  padding: 20px 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.23);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
}
.nav__noti-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: tomato;
  color: white;
  font-weight: 600;
  position: absolute;
  top: -10px;
  right: -13px;
}

.nav__noti-update {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  display: block;
  background-color: tomato;
  position: absolute;
  top: -4px;
  right: -10px;
}
