.nav {
  background-color: var(--kakao-gray);
  padding: 20px 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.23);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
}
.nav__noti-chat {
  position: absolute;
  top: -10px;
  right: -13px;
}
