@import "reset.css";
@import "variables.css";

/* Componenet */
@import "component/status-bar.css";
@import "component/nav-bar.css";
@import "component/screen-header.css";

/* Screens */
@import "screen/login.css";

body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  text-align: center;
}

.login-form__id,
.login-form__password {
  font-size: 18px;
  padding: 20px;
  border: none;
  border-bottom: 1px solid var(--kakao-font-gray);
  transition: border-color 0.1s ease-in-out;
}

.login-form input:focus {
  border-color: var(--kakao-brown);
}

.log-in,
.sign-up {
  margin-top: 25px;
  font-size: 16px;
  padding: 20px;
  background-color: var(--kakao-gray);
  border: none;
  cursor: pointer;
}

.sign-up {
  margin-top: 15px;
  font-size: 16px;
  padding: 20px;
  background-color: var(--kakao-gray);
  border: none;
  text-align: center;
  cursor: pointer;
}
.find-password {
  color: inherit;
  text-decoration: none;
  margin-top: 15px;
  font-size: 12px;
}
