@import "reset.css";
@import "variables.css";

/* Componenet */
@import "component/status-bar.css";
@import "component/nav-bar.css";
@import "component/screen-header.css";

/* Screens */
@import "screen/login.css";
@import "screen/friends.css";

body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #2e363e;
}
