:root {
  --kakao-yellow: #fae100;
  --kakao-gray: #f6f6f6;
  --kakao-brown: #3d1d1e;
  --kakao-font-gray: #9a9a9a;
  --horizontal-space: 25px;
  --vertical-space: 10px;
  --kakao-border: 1px solid rgba(0, 0, 0, 0.2);
}
