#friends-display-link {
  display: block;
  text-align: center;
  background-color: var(--kakao-gray);
  padding: 10px 0;
  font-size: 14px;
}

#friends-display-link i {
  color: var(--kakao-font-gray);
}

#friends-display-link span {
  margin: 0 5px;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.splash-screen {
  background-color: var(--kakao-yellow);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  animation: hideSplashScreen 0.33s ease-in-out forwards;
  animation-delay: 1.5s;
}
