.line-break {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 공간 균등 배분 */
  width: 100%; /* 너비를 100%로 조정하여 컨테이너 전체 사용 */
  margin: 10px 0;
  padding: 0 30px;
  box-sizing: border-box;
  color: gray;
  font-size: 12px;
}

.line-break > hr {
  flex: 1; /* 남은 공간을 hr 태그가 균등하게 차지하도록 설정 */
  border: none;
  height: 1px;
  background-color: gray; /* 배경색을 사용하여 선 그리기 */
}

.line-break__text {
  padding: 0 10px; /* 양쪽에 패딩 추가 */
}
